<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.min.css" integrity="sha512-Z6UIAdEZ7JNzeX5M/c5QZj+oqbldGD+E8xJEoOwAx5e0phH7kdjsWULGeK5l2UjehKtChHDaUY2rQAF/NEiI9w==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .search-box {
  position: relative;
  display: inline-block;
  min-width: 40vh;
}

.w3-input {
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 12px;
  pointer-events: none;
}

.d-flex{
    overflow-x: scroll;
    display: flex;
}

    </style>
</head>
<body>
    <div class="d-flex">
        <div class="search-box">
            <input class="w3-input" type="text" placeholder="Search...">
            <i class="fa fa-search search-icon"></i>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, accusamus magnam. Incidunt tempore fuga, cupiditate, porro eius beatae possimus voluptatem dolore sed unde nulla similique id placeat nisi eligendi illo amet voluptas itaque quibusdam at voluptatum in! Nostrum perferendis veniam fuga tenetur, porro qui fugiat error possimus magnam laboriosam officiis.
    </div>
</body>
</html>