@font-face {
    font-family: 'Poppins';
    src: 
        url('../font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap'); */


body {
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5;
}

            /* width */
        ::-webkit-scrollbar {
            width: 11px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: lightgrey;
            border-radius: 10px;
            padding: 1px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: white; 
            border-radius: 10px;
            border: 3px solid lightgrey;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #8d8e8f; 
        }
        
        .notification-card {
            max-width: 916px;
            height: 154px;
            position: relative;
            background: #41806D;
            border-radius: 8px;

        }

        .greeting {
            max-width: 87px;
            height: 24px;
            margin-left: 33px;
            padding-top: 22px;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            z-index: 2;
            color: #FFFFFF;


        }

        .message {
            max-width: 457px;
            height: 66px;
            margin-left: 33px;
            margin-top: 30px;
            z-index: 3;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 138%;

            color: #FFFFFF;


        }

        @media (max-width: 536px){
            .message {
                font-size: 18px;
            }
        }

        .logo{
            font-weight: 600;
            font-size: 32px;
        }

        .hipipe{
            /* Hiring Pipeline */

            max-width: 150px;
            height: 24px;
            left: 20px;
            padding-top: 10px;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #41806D;
        }

        .card-hipipe{
            max-width: 916px;
            max-height: 500px;
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            border: 0;
        }

        .select-hipipe{
            width: 110px;
            height: 30px;
            border: 0;
            background-color: #dcf7e1;
            font-size: 12px;
            font-weight: 500;
            color: #41806D;
        }
        
        @media (max-width: 768px) {
            .select-hipipe {
                margin-left: 25px;
                max-width: 110px;
                height: 30px;
            }
        }

        @media (max-width: 576px) {
            .select-hipipe {
                margin-left: 25px;
                max-width: 110px;
                height: 30px;
            }
        }
        
        .greeting, .message {
            position: relative; /* Agar teks tidak terpengaruh oleh posisi absolut gambar */
            z-index: 1; /* Pastikan teks berada di atas gambar */
        }

        .jtable {
            border-spacing: 5px; /* Menambahkan jarak antar cell */
            border-collapse: separate;
            width: 830px; /* Atur sesuai kebutuhan */
        }
        
        .jtable td{
            border-radius: 3px;
            font-size: 12px;
            min-width: 64px;
            min-height: 45px;
            max-width: 64px;
            max-height: 45px;
            line-height: 1;
        }
        
        .form-control:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
        }

        .my-task{
            font-weight: 600;
            font-size: 16px;
            color: #41806D;
        }

        .add-sche{
            width: 141px;
            height: 34px;
            border: 0;
            background: #41806D;
            border-radius: 4px;
            font-size: 12px;
            color: white;
        }

        .y-scroll{
            max-height: 560px;
            overflow-y: scroll;
        }

        .form-control{
            font-size: 12px;
        }

        .callout{
            margin-top: 10px;
            margin-bottom: 10px;
        }

.container-login{
    margin: 0;
    padding: 0;
    background-image: URL('../bg-login.png');
    background-repeat: no-repeat;
    background-size: 55%;
}
.hitam-login{
    background-color: #29675B;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.card-login{
    width: 50vw;
    height: 100vh;
    border: 0;
    text-align: center;
    border-radius: 50px 0 0 50px;
}
.txt-green{
    font-size: 32px;
    font-weight: 600;
    color: #81B29A;
}
.txt-small{
    font-size: 16px;
    font-weight: 400;
    color: #646464;
}
.form-input-login{
    display: flex;
    flex-flow: column;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.input-login{
    height: 56px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #D4D4D4;
}
.input-login:focus{
    outline: none;
    border: 1px solid #81B29A;
}
.input-password{
    width: 450px;
    position: relative;
    margin: 0;
    padding: 0;
}
.input-password input{
    width: 450px;
}
.input-password i{
    font-size: 24px;
    right: 13px;
    top: 10px;
    position: absolute;
    color: #81B29A;
}
.remember-me{
    display: flex;
    height: 50px;
    margin-top: 10px;
}
.remember-me p{
    margin: auto 0 auto 0;
}
.remember-me input{
    margin: auto 10px auto 0;
    width: 20px;
    height: 20px;
}
.btn-login{
    background-color: #81B29A;
    width: 100%;
    border-radius: 30px;
    height: 56px;
    text-align: center;
    color: white;
    border: 0;
    font-weight: 500;
    margin-top: 30px;
}
.title-login{
    position: absolute;
    left: 50px;
    top: 35%;
    bottom: 50%;
}
.title-login h5{
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.white-accent{
    height: 16px;
    width: 95px;
    border-radius: 8px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 35px;
}
.title-login p{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
        .search-box {
            position: relative;
            display: inline-block;
        }

        .search-input {
            padding-left: 40px;
            margin-right: 1;
        }

        .search-icon {
            position: absolute;
            left: 0;
            top: 0;
            padding: 5px 12px;
            pointer-events: none;
        }

        .search-icon-lg {
            position: absolute;
            left: 0;
            top: 0;
            padding: 12px 12px;
            pointer-events: none;
        }

        .white-theme{
            border: 0;
            border-radius: 10px;
            font-size: 14px;
        }

        .input-sm{
            height: 5vh !important;
        }

        .btn-green {
            background-color: #DCF7E1 !important;
            color: #41806D !important;
        }

        .btn-green-outline {
            background-color: #DCF7E1 !important;
            color: #41806D !important;
            border: solid 1px #41806D;
        }
        
        .btn-green-outline {
            background-color: #DCF7E1 !important;
            color: #327c66 !important;
            border: solid 1px #337c66;
        }

        .bg-green{
            background-color: #41806D;
        }

        .btn-white-outline{
            border: solid 1px #8d8e8f;
            color: #8d8e8f;
        }

        .percent{
            color: #41806D;
            border: solid 1px #C1E7CD;
            padding: 0.2em 1.35em;
            font-size: 0.87em;
        }

        .custom-table th {
            padding: 10px;
            position: relative;
        }

        .custom-table th.sort-asc-1::after,
        .custom-table th.sort-asc-2::after{
            content: '▲';
            position: absolute;
            left: 70%;
            top: 25%;
            opacity: 0.4;
        }
        .custom-table th.sort-asc-1::before,
        .custom-table th.sort-asc-2::before {
            content: '▼';
            position: absolute;
            left: 70%;
            bottom: 25%;
            opacity: 0.2;
        }
        
        .custom-table th.sort-desc-1::after,
        .custom-table th.sort-desc-2::after  {
            content: '▲';
            position: absolute;
            left: 70%;
            top: 25%;
            opacity: 0.2;
        }
        .custom-table th.sort-desc-1::before,
        .custom-table th.sort-desc-2::before {
            content: '▼';
            position: absolute;
            left: 70%;
            bottom: 25%;
            opacity: 0.4;
        }
        .p-approval{
            width: fit-content;
            height: 24px;
            border: 1px solid #9EB5A2;
            color: #41806D;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-waiting{
            width: fit-content;
            height: 24px;
            border: 1px solid #F7BD93;
            color: #FA6900;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-fail{
            width: fit-content;
            height: 24px;
            border: 1px solid #F7BFC0;
            color: #F94144;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-cancel_join{
            width: fit-content;
            height: 24px;
            border: 1px solid #C893BE;
            color: #85016B;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-resign{
            width: fit-content;
            height: 24px;
            border: 1px solid #81B29A;
            color: #41806D;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-done{
            width: fit-content;
            height: 24px;
            border: 1px solid #F9DB93;
            color: #FFB800;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-on_process{
            width: fit-content;
            height: 24px;
            border: 1px solid #89A7E0;
            color: #2E5AAC;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-reject{
            width: fit-content;
            height: 24px;
            border: 1px solid #F7BFC0;
            color: #F94144;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 600;
        }
        .p-on_process_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #3469CA;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-done_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #41806D;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-waiting_schedule_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #00C2FF;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-reject_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #B74254;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-waiting_approval_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #FFA800;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-pass_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #41806D;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .p-failed_hire{
            color: white;
            width: fit-content;
            height: 24px;
            background-color: #B74254;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: 500;
        }
        .tag-0{
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background-color: #B74254;
        }
        .tag-1{
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background-color: #38B758;
        }
        .tag-2{
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background-color: #B1B1B1;
        }
        .tag-3{
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background-color: #c4a600;
        }
        .txt-screening{
            text-transform: uppercase;
            font-size: 12px;
            color: #2E5AAC;
            font-weight: 600;
            margin: 0;
        }
        .txt-psikotest{
            text-transform: uppercase;
            font-size: 12px;
            color: #FFB800;
            font-weight: 600;
            margin: 0;
        }
        .txt-interview_hr{
            text-transform: uppercase;
            font-size: 12px;
            color: #8BBB67;
            font-weight: 600;
            margin: 0;
        }
        .txt-interview_user{
            text-transform: uppercase;
            font-size: 12px;
            color: #F94144;
            font-weight: 600;
            margin: 0;
        }
        .txt-reject{
            text-transform: uppercase;
            font-size: 12px;
            color: #979797;
            font-weight: 600;
            margin: 0;
        }
        .txt-hiring{
            text-transform: uppercase;
            font-size: 12px;
            color: #85016B;
            font-weight: 600;
            margin: 0;
        }
        .process-screening{
            padding: 4px 10px;
            border-radius: 2px;
            color: #2E5AAC;
            border: 1px solid #89A7E0;
            background-color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        .process-psikotest{
            padding: 4px 10px;
            border-radius: 2px;
            color: #FFB800;
            border: 1px solid #F9DB93;
            background-color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        .process-interview_hr{
            padding: 4px 10px;
            border-radius: 2px;
            color: #8BBB67;
            border: 1px solid #CBDEBC;
            background-color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        .process-interview_user{
            padding: 4px 10px;
            border-radius: 2px;
            color: #F94144;
            border: 1px solid #F7BFC0;
            background-color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        .process-reject{
            padding: 4px 10px;
            border-radius: 2px;
            color: #979797;
            border: 1px solid #DCDCDC;
            background-color: #DCDCDC;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        .process-hiring{
            padding: 4px 10px;
            border-radius: 2px;
            color: #85016B;
            border: 1px solid #C893BE;
            background-color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }
        
/* Detail Candidates */
.sidebar-candidate{
    background-color: white;
}
.sidebar-candidate .row.top{
    padding: 20px;
    width: 100%;
    height: 93px;
    min-height: 93px;
}
.back-content{
    height: fit-content;
    padding: auto;
}
.back-content *{
    margin: 0;
}
.back-content .d-flex h6{
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.back-content .d-flex p{
    color: #646464;
    font-size: 12px;
    font-weight: 400;
}
.profile-foto{
    width: 50px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: 50px; /* Pastikan height sama dengan width untuk aspek rasio 1:1 */
    object-fit: cover; /* Menjaga proporsi gambar */
    border-radius: 50%; /* Jika ingin gambar berbentuk lingkaran */
    margin-right: 10px;
}
.profile-foto-2{
    width: 80px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: 80px; /* Pastikan height sama dengan width untuk aspek rasio 1:1 */
    object-fit: cover; /* Menjaga proporsi gambar */
    border-radius: 50%; /* Jika ingin gambar berbentuk lingkaran */
    margin-right: 10px;
}
.profile-name{
    height: fit-content;
    color: #333333;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
}
.sidebar-candidate::-webkit-scrollbar{
    display: none;
}
.sidebar-candidate{
    overflow-y: scroll;
    max-height: 90vh;
    width: 265px !important;
    height: 90vh;
    padding: 0 10px;
}
.detail-candidates:not(:nth-child(2)){
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
}
.sidebar-candidate .data-candidates:nth-child(2){
    margin-top: 0 !important;
    border-top: 1px solid #E7E7ED !important;
}
.sidebar-candidate :nth-child(1){
    position: sticky;
}
.data-candidates:hover,
.data-candidates.active{
    background-color: #DCF7E1;
}
.data-candidates{
    padding-top: 10px;
    padding-bottom: 10px;
}